#backgroundimg {
    background-image: url(images/cafe-2568876_1920.jpg);
    background-size: cover;
    width: 100%;
    height: -webkit-fill-available;
    background-attachment: fixed;
    margin: 0;
}

p#titletxt {
    color: rgba(236, 228, 226, 1);
    font-size: 100px;
    text-align: -webkit-center;
    margin: 0px;
    padding-top: 20px;
}

p#salmon {
  width: -webkit-fill-available;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.stores {
  font-family: Garamond;
  background-color: white;
  border-radius: 20px;
  opacity: .5;
  color: black;
  text-align: left;
  height: 400px;
  width: 100px;
  padding: 10px;
  margin: 20px;
  display: inline;
}

#body {
  background-color: rgba(249, 230, 225, 1);
  color: rgb(78, 72, 70);
}
